<!DOCTYPE HTML>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Pokemon Battle Index</title>
</head>
<body class="bg-slate-900">
    
    <div class="z-10 fixed ">
    <nav class="bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-60 px-10 sm:px-4 py-2.5 w-screen">
        <div class="container flex flex-wrap justify-between items-center mx-auto md:px-36">
            <div class="flex items-center">
                <a href="/" class="text-lg font-semibold text-gray-900">
                    <img src="https://seeklogo.com/images/P/Pokemon-logo-497D61B223-seeklogo.com.png" alt="Pokemon Go logo" class="w-24">
                </a>
                <h1 class="px-10 text-2xl font-extrabold text-transparent bg-clip-text ">PokeBattleIndex</h1>
            </div>
            <div class="flex  items-center">
                <a href="/" class="py-2.5 px-5 mr-2  text-sm font-medium text-white focus:outline-none  rounded-lg   hover:text-blue-400 focus:z-10 focus:ring-4 focus:ring-gray-200 ">Home</a>
                <a href="/viewpokemon" class="py-2.5 px-5 mr-2  text-sm font-medium text-white focus:outline-none  rounded-lg   hover:text-blue-400 focus:z-10 focus:ring-4 focus:ring-gray-200 ">ViewAll</a>
                <a href="/choose" class="py-2.5 px-5 mr-2 text-sm font-medium text-white focus:outline-none  rounded-lg   hover:text-blue-400 focus:z-10 focus:ring-4 focus:ring-gray-200 ">Fight</a>
                <a href="/leaderboard" class="py-2.5 px-5 mr-2 text-sm font-medium text-white focus:outline-none  rounded-lg   hover:text-blue-400 focus:z-10 focus:ring-4 focus:ring-gray-200 ">Leaderboard</a>
                <a href="/settings" class="py-2.5 px-5 mr-2 text-sm font-medium text-white focus:outline-none  rounded-lg   hover:text-blue-400 focus:z-10 focus:ring-4 focus:ring-gray-200 ">Settings</a>
                <a href="/signout" class="py-2.5 px-5 mr-2 text-sm font-medium text-white focus:outline-none  rounded-lg   hover:text-blue-400 focus:z-10 focus:ring-4 focus:ring-gray-200 ">Signout</a>
            </div>
        </div>
    </nav>
    
    <div class="justify-center px-36 py-20" >
        <!-- <h5 class="text-xl text-center pt-10">Hello! </span></h5> -->
        <form class="flex items-center text-4xl text-white" th:action="@{/choose}" th:object="${poke}"   method="post">
            <!-- Select Pokemon -->
            
                <label class="text-white text-2xl font-semibold" >Select Pokemon 1</label>
                <select th:field="*{name}" class="bg-white text-black border-2 border-gray-600 rounded-lg py-2.5 px-5 mr-2" id="pokemon">
                    <option selected th:value="Bulbasaur">Bulbasaur</option>
                    <option th:value="Squirtle">Squirtle</option>
                    <option th:value="Charmander">Charmander</option>
                    <option th:value="Pikachu">Pikachu</option>
                </select>
            
                <label class="text-white text-2xl font-semibold">Select Pokemon 2</label>
                <select th:field="*{poke_vs_name}" class="bg-white text-black border-2 border-gray-600 rounded-lg py-2.5 px-5 mr-2" id="pokemon">
                    <option selected th:value="Squirtle">Squirtle</option>
                    <option  th:value="Bulbasaur">Bulbasaur</option>
                    <option th:value="Charmander">Charmander</option>
                    <option th:value="Pikachu">Pikachu</option>
                </select>
            
            <input type="submit" class="py-2.5 px-5 mr-2 text-sm font-medium text-white focus:outline-none  rounded-lg   hover:text-blue-400 focus:z-10 focus:ring-4 focus:ring-gray-200 " value="Submit">
                    

        </form>
    </div>
    </div>
    
</body>
