<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<script src="https://cdn.tailwindcss.com"></script>
		<title>Raagam - Edit Songs</title>
	</head>
<body class="px-36">
	<h1 class="text-6xl text-center font-bold pt-10">Edit a song</h1>
    <!-- <form action="#" th:action="@{/editsong}" th:object="${song}" method="post">
        OLD song
    	<p>Name: <input type="text" th:field="*{name}" /></p>
        <p>Album: <input type="text" th:field="*{album}" /></p>
		<p>Singer: <input type="text" th:field="*{singer}" /></p>
		<p>Year of Release: <input type="number" th:field="*{yearOfRelease}" /></p>
		<p>Rating: <input type="number" th:field="*{rating}" /></p>

        Newsong

    	<p>Name: <input type="text" th:field="*{name2}" /></p>
        <p>Album: <input type="text" th:field="*{album2}" /></p>
		<p>Singer: <input type="text" th:field="*{singer2}" /></p>
		<p>Year of Release: <input type="number" th:field="*{yearOfRelease2}" /></p>
		<p>Rating: <input type="number" th:field="*{rating2}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form> -->
	<div class="">

		<form class="flex item-center justify-center rounded-xl" action="#" th:action="@{/editsong}" th:object="${song}" method="post">
			<div class="mr-10 my-10 grid grid-cols-2 gap-5 bg-gray-100 p-5 w-fit justify-items-center">
				<h1 class="text-xl font-bold col-span-2">Old Song</h1>
				<div class="flex flex-col">
					<div class="uppercase text-sm text-xs font-bold ml-3">Name</div>
					<input type="text" class="rounded-lg py-1 px-3 mt-2" th:field="*{name}" />
				</div>
				<div class="flex flex-col">
					<div class="uppercase text-sm text-xs font-bold ml-3">Album</div>
					<input type="text" class="rounded-lg py-1 px-3 mt-2" th:field="*{album}" />
				</div>
				<div class="flex flex-col">
					<div class="uppercase text-sm text-xs font-bold ml-3">Singer</div>
					<input type="text" class="rounded-lg py-1 px-3 mt-2" th:field="*{singer}" />
				</div>
				<div class="flex flex-col">
					<div class="uppercase text-sm text-xs font-bold ml-3">Year of Release</div>
					<input type="text" class="rounded-lg py-1 px-3 mt-2" th:field="*{yearOfRelease}" />
				</div>
				<div class="flex flex-col">
					<div class="uppercase text-sm text-xs font-bold ml-3">Rating</div>
					<input type="text" class="rounded-lg py-1 px-3 mt-2" th:field="*{rating}" />
				</div>
			</div>
			<div class="ml-10 my-10 grid grid-cols-2 gap-5 bg-gray-100 p-5 w-fit justify-items-center">
				<h1 class="text-xl font-bold col-span-2">New Song</h1>
				<div class="flex flex-col">
					<div class="uppercase text-sm text-xs font-bold ml-3">Name</div>
					<input type="text" class="rounded-lg py-1 px-3 mt-2" th:field="*{name2}" />
				</div>
				<div class="flex flex-col">
					<div class="uppercase text-sm text-xs font-bold ml-3">Album</div>
					<input type="text" class="rounded-lg py-1 px-3 mt-2" th:field="*{album2}" />
				</div>
				<div class="flex flex-col">
					<div class="uppercase text-sm text-xs font-bold ml-3">Singer</div>
					<input type="text" class="rounded-lg py-1 px-3 mt-2" th:field="*{singer2}" />
				</div>
				<div class="flex flex-col">
					<div class="uppercase text-sm text-xs font-bold ml-3">Year of Release</div>
					<input type="text" class="rounded-lg py-1 px-3 mt-2" th:field="*{yearOfRelease2}" />
				</div>
				<div class="flex flex-col">
					<div class="uppercase text-sm text-xs font-bold ml-3">Rating</div>
					<input type="text" class="rounded-lg py-1 px-3 mt-2" th:field="*{rating2}" />
				</div>
				
				<button type="submit" class=" w-full text-lg bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-xl">
					Submit
				</button>
			</div>
			
			
		</form>
		
	</div>
	<div class="flex justify-center pt-10">
		<a href="viewsongs"class="mx-5 w-fit text-white bg-cyan-500 hover:bg-cyan-700  rounded-lg px-3 py-1" value="Submit" /> 
			View songs
			</a>
		<a href="addsong"class=" mx-5 w-fit text-white bg-green-500 hover:bg-green-700  rounded-lg px-3 py-1" value="Submit" /> 
			Add songs
		</a>
		<a href="editsong"class="mx-5 w-fit text-white bg-amber-500 hover:bg-amber-700  rounded-lg px-3 py-1" value="Submit" /> 
			Edit songs
		</a>
		<a href="deletesong"class="mx-5 w-fit text-white bg-red-500 hover:bg-red-700  rounded-lg px-3 py-1" value="Submit" /> 
			Delete songs
		</a>
	</div>
</body>
</html>