<!DOCTYPE HTML>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Pokemon Battle Index</title>
</head>
<body class="px-36">
    <iframe width="0" height="0"
    src="https://youtube.com/embed/RJKIrqO1Zas?&autoplay=1"
    frameborder="0" 
    allow="autoplay">
    </iframe>

    <h1 class="text-6xl text-center font-extrabold p-5 py-10 text-transparent bg-clip-text bg-gradient-to-r from-fuchsia-500 via-red-600 to-orange-400">Pokemon Battle Index</h1>
    <!-- <h1>Fight</h1> -->

    <div class="grid justify-items-center md:grid-cols-2  gap-12">
        <div class="p-5 bg-white rounded-lg border border-gray-200 shadow-md w-full " th:each="p : ${pokemoves}">
            <!-- Display id of the pokemon -->
            <form action="#" th:action="@{/fight}" th:object="${p}" method="post">
                <input type="hidden" name="name" th:value="${p.name}">
                <input type="hidden" name="id" th:value="${poke_move1_name}">
                <input type="submit" th:value="${p.name}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            </form>

            </form>
            <div class="pb-5">
                <h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900" th:text="${p.name}"></h5>
                <a href="#" class="flex items-center justify-center">
                    <img class="rounded-t-lg w-56" th:src="${p.img}" alt="${p.name}" />
                </a>
                <h1 class="flex justify-center items-center">
                    HP
                    <h5 class="text-2xl text-center text-green-500" th:text="${p.hp}"></h5>
                </h1>
                <div class="grid grid-cols-2 gap-6 pt-10">
                    <!-- Pokemon Moves -->
                    <form class="cursor-pointer py-2 rounded-full border transform transition duration-100 hover:scale-110 hover:bg-red-100" action="#" th:action="@{/fight}" th:object="${pokemoves}" method="post"> 
                        <input type="hidden" th:value="{name}">
                        <input type="submit" class="w-full">
                            <div class="flex justify-center items-center" >
                                <h5 class="text-xl text-center" th:text="${p.poke_move1_name}"></h5>
                            </div>
                            <form class="flex justify-center items-center">
                                <h5 class="text-xl text-center" th:text="${p.poke_move1_damage}"></h5>
                            </form>
                        </input>
                    </form>


                    <div class="cursor-pointer py-2  rounded-full border transform transition duration-100 hover:scale-110 hover:bg-red-100" >
                        <form class="flex justify-center items-center">
                            <h5 class="text-xl text-center" th:text="${p.poke_move2_name}"></h5>
                        </form>
                        <form class="flex justify-center items-center">
                            <h5 class="text-xl text-center" th:text="${p.poke_move2_damage}"></h5>
                        </form>
                    </div>
                    <div class="cursor-pointer py-2  rounded-full border transform transition duration-100 hover:scale-110 hover:bg-red-100">
                        <form class="flex justify-center items-center">
                            <h5 class="text-xl text-center" th:text="${p.poke_move3_name}"></h5>
                        </form>
                        <form class="flex justify-center items-center">
                            <h5 class="text-xl text-center" th:text="${p.poke_move3_damage}"></h5>
                        </form>
                    </div>
                    <div class="cursor-pointer py-2  rounded-full border transform transition duration-100 hover:scale-110 hover:bg-red-100">
                        <form class="flex justify-center items-center ">
                            <h5 class="text-xl text-center" th:text="${p.poke_move4_name}"></h5>
                        </form>
                        <form class="flex justify-center items-center">
                            <h5 class="text-xl text-center" th:text="${p.poke_move4_damage}"></h5>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
