<!DOCTYPE HTML>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Pokemon Battle Index</title>
</head>
<body class="px-36">
    <audio controls>
        <source src="./poke_theme.mp3" type="audio/mpeg">
    </audio>
    <h1 class="text-6xl text-center font-extrabold p-5 py-10 text-transparent bg-clip-text bg-gradient-to-r from-fuchsia-500 via-red-600 to-orange-400">Pokemon Battle Index</h1>
    <h1>Fight</h1>
    <div class="flex justify-center">
        <a href="/register" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 ">Register</a>
        <a href="/login" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 ">Login</a>
        <a href="/viewpokemon" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 ">ViewAll</a>
        <a href="/fight" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 ">Fight</a>
    </div>

    <div class="grid justify-items-center md:grid-cols-2 lg:grid-cols-3 gap-12">
        <div class="p-5 bg-white rounded-lg border border-gray-200 shadow-md w-full transform transition duration-100 hover:scale-110" th:each="p : ${pokemoves}">
            <!-- Display id of the pokemon -->
            <div class="pb-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900" th:text="${p.name}"></h5>
                </a>
            </div>
        </div>

    </div>
</body>
