<!DOCTYPE HTML>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Pokemon Battle Index</title>
</head>
<body class="px-36">
    <iframe width="0" height="0"
    src="https://youtube.com/embed/RJKIrqO1Zas?&autoplay=1"
    frameborder="0" 
    allow="autoplay">
    </iframe>

    <h1 class="text-6xl text-center font-extrabold p-5 py-10 text-transparent bg-clip-text bg-gradient-to-r from-fuchsia-500 via-red-600 to-orange-400">Pokemon Battle Index</h1>
    <!-- <h1>Fight</h1> -->

    <div class="grid md:grid-cols-2  gap-12">
        <div class="p-5 bg-white rounded-lg border border-gray-200 shadow-md w-full" th:object="${p1}">
            <!-- Display id of the pokemon -->
            

            </form>
            <div class="pb-5" >
                <h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900" th:text="${p1.name}"></h5>
                <a href="#" class="flex items-center justify-center">
                    <img class="rounded-t-lg w-56" th:src="${p1.img}" alt="${p1.name}" />
                </a>
                <h1 class="flex justify-center items-center">
                    HP
                    <h5 class="text-2xl text-center text-green-500" th:text="${p1.hp}"></h5>
                </h1>
                <div class="grid grid-cols-2 gap-6 pt-10">
                    <form action="#" th:action="@{/fight}" th:object="${p1}" method="post" class="cursor-pointer py-2  rounded-full border transform transition duration-100 hover:scale-110 hover:bg-green-100" >
                        <input type="hidden" name="name" th:value="${p1.name}">
                        <input type="hidden" name="poke_move1_name" th:value="${p1.poke_move1_name}">
                        <input type="hidden" name="poke_move1_damage" th:value="${p1.poke_move1_damage}">
                        <input type="hidden" name="poke_move1_acc" th:value="${p1.poke_move1_acc}">
                        <input type="submit" th:value="${p1.poke_move1_name}" class="text-xl text-center w-full">
                        <div class="flex justify-center items-center">
                            <h5 class="text-xl text-center" th:text="${p1.poke_move1_damage}"></h5>
                        </div>
                    </form>

                    <form action="#" th:action="@{/fight}" th:object="${p1}" method="post" class="cursor-pointer py-2  rounded-full border transform transition duration-100 hover:scale-110 hover:bg-green-100" >
                        <input type="hidden" name="name" th:value="${p1.name}">
                        <input type="hidden" name="poke_move2_name" th:value="${p1.poke_move2_name}">
                        <input type="hidden" name="poke_move1_damage" th:value="${p1.poke_move2_damage}">
                        <input type="hidden" name="poke_move1_acc" th:value="${p1.poke_move2_acc}">
                        <input type="submit" th:value="${p1.poke_move2_name}" class="text-xl text-center w-full">
                        <div class="flex justify-center items-center">
                            <h5 class="text-xl text-center" th:text="${p1.poke_move2_damage}"></h5>
                        </div>
                    </form>
                    <form action="#" th:action="@{/fight}" th:object="${p1}" method="post" class="cursor-pointer py-2  rounded-full border transform transition duration-100 hover:scale-110 hover:bg-green-100" >
                        <input type="hidden" name="name" th:value="${p1.name}">
                        <input type="hidden" name="poke_move3_name" th:value="${p1.poke_move3_name}">
                        <input type="hidden" name="poke_move1_damage" th:value="${p1.poke_move3_damage}">
                        <input type="hidden" name="poke_move1_acc" th:value="${p1.poke_move3_acc}">
                        <input type="submit" th:value="${p1.poke_move3_name}" class="text-xl text-center w-full">
                        <div class="flex justify-center items-center">
                            <h5 class="text-xl text-center" th:text="${p1.poke_move3_damage}"></h5>
                        </div>
                    </form>
                    <form action="#" th:action="@{/fight}" th:object="${p1}" method="post" class="cursor-pointer py-2  rounded-full border transform transition duration-100 hover:scale-110 hover:bg-green-100" >
                        <input type="hidden" name="name" th:value="${p1.name}">
                        <input type="hidden" name="poke_move4_name" th:value="${p1.poke_move4_name}">
                        <input type="hidden" name="poke_move1_damage" th:value="${p1.poke_move4_damage}">
                        <input type="hidden" name="poke_move1_acc" th:value="${p1.poke_move4_acc}">
                        <input type="submit" th:value="${p1.poke_move4_name}" class="text-xl text-center w-full">
                        <div class="flex justify-center items-center">
                            <h5 class="text-xl text-center" th:text="${p1.poke_move4_damage}"></h5>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="p-5 bg-white rounded-lg border border-gray-200 shadow-md w-full">
            <div class="pb-5" th:object="${p2}">
                <h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900" th:text="${p2.name}"></h5>
                <a href="#" class="flex items-center justify-center">
                    <img class="rounded-t-lg w-56" th:src="${p2.img}" alt="${p2.name}" />
                </a>
                <h1 class="flex justify-center items-center">
                    HP
                    <h5 class="text-2xl text-center text-green-500" th:text="${p2.hp}"></h5>
                </h1>
                <div class="grid grid-cols-2 gap-6 pt-10">
                    <div class="cursor-pointer py-2  rounded-full border transform transition duration-100 hover:scale-110 hover:bg-red-100" >
                        <div class="flex justify-center items-center">
                            <h5 class="text-xl text-center" th:text="${p2.poke_move1_name}"></h5>
                        </div>
                        <div class="flex justify-center items-center">
                            <h5 class="text-xl text-center" th:text="${p2.poke_move1_damage}"></h5>
                        </div>
                    </div>
                    <div class="cursor-pointer py-2  rounded-full border transform transition duration-100 hover:scale-110 hover:bg-red-100" >
                        <div class="flex justify-center items-center">
                            <h5 class="text-xl text-center" th:text="${p2.poke_move2_name}"></h5>
                        </div>
                        <div class="flex justify-center items-center">
                            <h5 class="text-xl text-center" th:text="${p2.poke_move2_damage}"></h5>
                        </div>
                    </div>
                    <div class="cursor-pointer py-2  rounded-full border transform transition duration-100 hover:scale-110 hover:bg-red-100">
                        <div class="flex justify-center items-center">
                            <h5 class="text-xl text-center" th:text="${p2.poke_move3_name}"></h5>
                        </div>
                        <div class="flex justify-center items-center">
                            <h5 class="text-xl text-center" th:text="${p2.poke_move3_damage}"></h5>
                        </div>
                    </div>
                    <div class="cursor-pointer py-2  rounded-full border transform transition duration-100 hover:scale-110 hover:bg-red-100">
                        <div class="flex justify-center items-center ">
                            <h5 class="text-xl text-center" th:text="${p2.poke_move4_name}"></h5>
                        </div>
                        <div class="flex justify-center items-center">
                            <h5 class="text-xl text-center" th:text="${p2.poke_move4_damage}"></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
