<!DOCTYPE HTML>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Raagam</title>
</head>
<body class="px-36">
    <h1 class="text-6xl text-center font-extrabold p-5 text-transparent bg-clip-text bg-gradient-to-r from-fuchsia-500 via-red-600 to-orange-400">Raagam</h1>
    
    <div class="mt-10 w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 ">
        
        <div class="bg-gray-100 rounded-xl p-5 m-5 border transform hover:scale-110 transition ease-in cursor-pointer" >
            <p class="text-lime-500 text-2xl font-bold">Add new Song</p>
            <a href="addsong" class="text-black pt-5 text-lg font-thin">Add a new song to my collection</a>

        </div>
        <div class="bg-gray-100 rounded-xl p-5 m-5 border transform hover:scale-110 transition ease-in cursor-pointer" >
            <p class="text-amber-500 text-2xl font-bold">Edit Songs</p>
            <a href="editsong" class="text-black pt-5 text-lg font-thin">Edit an already existing song</a>

        </div>
        <div class="bg-gray-100 rounded-xl p-5 m-5 border transform hover:scale-110 transition ease-in cursor-pointer" >
            <a href="deletesong" class="text-red-500 text-2xl font-bold">Delete Song</a>
            <p class="text-black pt-5 text-lg font-thin">Delete a song from my collection</p>

        </div>
    </div>  

    <div class="w-full grid grid-cols-1 ">
        <div class="bg-gray-100 rounded-xl p-5 m-5 border transform hover:scale-105 transition ease-in cursor-pointer" >
            <p class="text-cyan-500 text-2xl font-bold">View Songs</p>
            <a href="viewsongs" class="text-black pt-5 text-lg font-thin">View all the songs in my collection </a>

        </div>
    </div>

</body>
