<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<script src="https://cdn.tailwindcss.com"></script>
		<title>PokeBattleIndex - All Pokemon</title>
	</head>
	<body class="bg-slate-800">
		<nav class="fixed z-10 bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-60 px-10 sm:px-4 py-2.5 w-full">
			<div class="container flex flex-wrap justify-between items-center mx-auto md:px-36">
				<div class="flex items-center">
					<a href="/" class="text-lg font-semibold text-gray-900">
						<img src="https://seeklogo.com/images/P/Pokemon-logo-497D61B223-seeklogo.com.png" alt="Pokemon Go logo" class="w-24">
					</a>
					<h1 class="px-10 text-2xl font-extrabold text-transparent bg-clip-text ">PokeBattleIndex</h1>
				</div>
				<div class="flex  items-center">
					<a href="/" class="py-2.5 px-5 mr-2  text-sm font-medium text-white focus:outline-none  rounded-lg   hover:text-blue-400 focus:z-10 focus:ring-4 focus:ring-gray-200 ">Home</a>
					<a href="/viewpokemon" class="py-2.5 px-5 mr-2  text-sm font-medium text-white focus:outline-none  rounded-lg   hover:text-blue-400 focus:z-10 focus:ring-4 focus:ring-gray-200 ">ViewAll</a>
					<a href="/fight" class="py-2.5 px-5 mr-2 text-sm font-medium text-white focus:outline-none  rounded-lg   hover:text-blue-400 focus:z-10 focus:ring-4 focus:ring-gray-200 ">Fight</a>
					<a href="/leaderboard" class="py-2.5 px-5 mr-2 text-sm font-medium text-white focus:outline-none  rounded-lg   hover:text-blue-400 focus:z-10 focus:ring-4 focus:ring-gray-200 ">Leaderboard</a>
					<a href="/settings" class="py-2.5 px-5 mr-2 text-sm font-medium text-white focus:outline-none  rounded-lg   hover:text-blue-400 focus:z-10 focus:ring-4 focus:ring-gray-200 ">Settings</a>
					<a href="/signout" class="py-2.5 px-5 mr-2 text-sm font-medium text-white focus:outline-none  rounded-lg   hover:text-blue-400 focus:z-10 focus:ring-4 focus:ring-gray-200 ">Signout</a>
				</div>
			</div>
		</nav>
		<h1 class="text-6xl text-center font-bold pt-24 text-white">Leader Board</h1>
		<div class="md:px-36 pt-24 w-screen ">
			<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
				<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
					<tr>
						<th scope="col" class="px-6 py-3">
							Winner
						</th>
						<th scope="col" class="px-6 py-3">
							Loser
						</th>
						<th scope="col" class="px-6 py-3">
							Winner HP
						</th>
						<th scope="col" class="px-6 py-3">
							Winning Move
						</th>
						<th scope="col" class="px-6 py-3">
							Loser's last Move
						</th>
					</tr>
				</thead>
				<tbody th:each="game:${leaders}">
					<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
						<th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
							<span class="" th:text="${game.winner}"></span>
						</th>
						<td class="px-6 py-4">
							<span class="" th:text="${game.loser}"></span>
						</td>
						<td class="px-6 py-4">
							<span class="" th:text="${game.winner_hp}"></span> HP
						</td>
						<td class="px-6 py-4">
							<span class="" th:text="${game.winner_move}"></span>
						</td>
						<td class="px-6 py-4">
							<span class="" th:text="${game.loser_move}"></span>
						</td>
						
					</tr>
				</tbody>
			</table>
		</div>
			
			
		
		
    </body>
</html>