<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<script src="https://cdn.tailwindcss.com"></script>
		<title >PokeBattleIndex - All Pokemon</title>
	</head>
	<body class="bg-slate-800">
		<nav class="fixed z-10 bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-60 px-10 sm:px-4 py-2.5 w-full">
			<div class="container flex flex-wrap justify-between items-center mx-auto md:px-36">
				<div class="flex items-center">
					<a href="/" class="text-lg font-semibold text-gray-900">
						<img src="https://seeklogo.com/images/P/Pokemon-logo-497D61B223-seeklogo.com.png" alt="Pokemon Go logo" class="w-24">
					</a>
					<h1 class="px-10 text-2xl font-extrabold text-transparent bg-clip-text ">PokeBattleIndex</h1>
				</div>
				<div class="flex  items-center">
					<a href="/" class="py-2.5 px-5 mr-2  text-sm font-medium text-white focus:outline-none  rounded-lg   hover:text-blue-400 focus:z-10 focus:ring-4 focus:ring-gray-200 ">Home</a>
					<a href="/viewpokemon" class="py-2.5 px-5 mr-2  text-sm font-medium text-white focus:outline-none  rounded-lg   hover:text-blue-400 focus:z-10 focus:ring-4 focus:ring-gray-200 ">ViewAll</a>
					<a href="/fight" class="py-2.5 px-5 mr-2 text-sm font-medium text-white focus:outline-none  rounded-lg   hover:text-blue-400 focus:z-10 focus:ring-4 focus:ring-gray-200 ">Fight</a>
					<a href="/leaderboard" class="py-2.5 px-5 mr-2 text-sm font-medium text-white focus:outline-none  rounded-lg   hover:text-blue-400 focus:z-10 focus:ring-4 focus:ring-gray-200 ">Leaderboard</a>
					<a href="/settings" class="py-2.5 px-5 mr-2 text-sm font-medium text-white focus:outline-none  rounded-lg   hover:text-blue-400 focus:z-10 focus:ring-4 focus:ring-gray-200 ">Settings</a>
					<a href="/signout" class="py-2.5 px-5 mr-2 text-sm font-medium text-white focus:outline-none  rounded-lg   hover:text-blue-400 focus:z-10 focus:ring-4 focus:ring-gray-200 ">Signout</a>
				</div>
			</div>
		</nav>
		<h1 class="text-6xl text-center font-extrabold  p-5 py-10 text-transparent bg-clip-text bg-gradient-to-r from-fuchsia-500 via-red-600 to-orange-400"></h1>
		<div class=" mb-10 md:px-36 pt-5 w-screen ">
		
			<!-- <div class="grid justify-items-center gap-12">
				<div class=""  >
					<p th:text="${pokemon.name}"></p>
				</div>

			</div> -->
			<div class="grid justify-items-center gap-12 pt-10">
				<div class="p-5 bg-gray-300 rounded-xl border border-gray-200 shadow-md w-full" th:object="${pokemon}">
					<!-- Display id of the pokemon -->
					<div class="flex px-5 pt-2">
						<h1 class="text-3xl font-bold text-gray-500"><span th:text="${pokemon.num}"></span></h1>
					</div>

					<div class="grid grid-cols-2">
						<a href="#" class="flex items-center justify-center">
							<img class="rounded-t-lg w-96" th:src="${pokemon.img}" alt="${pokemon.name}" />
						</a>

						<div class="pb-5">
							<a href="#" class="py-5">
								<h5 class="mb-10 text-5xl text-center font-bold tracking-tight text-gray-900" th:text="${pokemon.name}"></h5>
							</a>
							
							<!-- Display Pokemon Height and Weight -->
							<div class="grid md:grid-cols-2 bg-blue-300 rounded-xl p-2 py-5">
								<span class="font-bold text-center text-blue-900 text-2xl" >
									Height <p class="text-blue-500" th:text="${pokemon.height}"></p> 
								</span>
								<span class="font-bold text-center text-blue-900 text-2xl">
									Weight <p class="text-blue-500" th:text="${pokemon.weight}"></p>
								</span>
							</div>

							<div class="p-5" font="bold">
								<span class="text-xl font-bold">Type</span>
								<div class="pt-2 flex justify-start" >
									<div th:each="type:${pokemon.type}">
										<span class="inline-block bg-green-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2" th:text="${type}"></span>
									</div>	
								</div>
							</div>

							<div class="p-5" font="bold">
								<span class="text-xl font-bold">Weakness  </span>
								<div class="pt-2 flex " >
									<div th:each="weaknesses:${pokemon.weaknesses}">
										<span class="inline-block bg-red-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2" th:text="${weaknesses}"></span>
									</div>		
								</div>
							</div>
							
	
						</div>
					</div>
					
					
			
			
		</div>
</body>
