<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<script src="https://cdn.tailwindcss.com"></script>
		<title>PokeBattleIndex - All Pokemon</title>
	</head>
	<body class="bg-slate-800">
        <iframe width="0" height="0"
            src="https://youtu.be/c4mLOnrRu-I?list=PLPu-VPD0-8SkJ1UfHKTRdcGiYvHlaEb2d?&autoplay=1"
            frameborder="0" 
            allow="autoplay">
        </iframe>
		<nav class="fixed z-10 bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-60 px-10 sm:px-4 py-2.5 w-full">
			<div class="container flex flex-wrap justify-between items-center mx-auto md:px-36">
				<div class="flex items-center">
					<a href="/" class="text-lg font-semibold text-gray-900">
						<img src="https://seeklogo.com/images/P/Pokemon-logo-497D61B223-seeklogo.com.png" alt="Pokemon Go logo" class="w-24">
					</a>
					<h1 class="px-10 text-2xl font-extrabold text-transparent bg-clip-text ">PokeBattleIndex</h1>
				</div>
				<div class="flex  items-center">
					<a href="/" class="py-2.5 px-5 mr-2  text-sm font-medium text-white focus:outline-none  rounded-lg   hover:text-blue-400 focus:z-10 focus:ring-4 focus:ring-gray-200 ">Home</a>
					<a href="/viewpokemon" class="py-2.5 px-5 mr-2  text-sm font-medium text-white focus:outline-none  rounded-lg   hover:text-blue-400 focus:z-10 focus:ring-4 focus:ring-gray-200 ">ViewAll</a>
					<a href="/fight" class="py-2.5 px-5 mr-2 text-sm font-medium text-white focus:outline-none  rounded-lg   hover:text-blue-400 focus:z-10 focus:ring-4 focus:ring-gray-200 ">Fight</a>
					<a href="/leaderboard" class="py-2.5 px-5 mr-2 text-sm font-medium text-white focus:outline-none  rounded-lg   hover:text-blue-400 focus:z-10 focus:ring-4 focus:ring-gray-200 ">Leaderboard</a>
					<a href="/settings" class="py-2.5 px-5 mr-2 text-sm font-medium text-white focus:outline-none  rounded-lg   hover:text-blue-400 focus:z-10 focus:ring-4 focus:ring-gray-200 ">Settings</a>
					<a href="/signout" class="py-2.5 px-5 mr-2 text-sm font-medium text-white focus:outline-none  rounded-lg   hover:text-blue-400 focus:z-10 focus:ring-4 focus:ring-gray-200 ">Signout</a>
				</div>
			</div>
		</nav>
		<!-- <h1 class="text-6xl text-center font-extrabold p-5 py-5 text-transparent bg-clip-text bg-gradient-to-r from-red-600 via-orange-500 to-yellow-400">All Pokemon</h1> -->
		<div class="md:px-18 pt-5 w-screen ">
			<!-- <div class="flex justify-center items-center">
				<a href="/" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 ">Home</a>
				<a href="/viewpokemon" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 ">ViewAll</a>
				<a href="/fight" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 ">Fight</a>
				<a href="/leaderboard" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200">Leaderboard</a>
				<a href="/signout" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 ">Signout</a>
			</div> -->
        <div class="flex justify-center items-center pt-24">
            <img src="https://i.pinimg.com/originals/35/c6/6e/35c66ea0fec67ebb0deacb5181b3025a.gif" width="470" height="470" class="px-5 py-8">
            <img src="https://i.makeagif.com/media/8-17-2015/jJ6j6F.gif" class="px-5 py-8">
            
        </div>
		<h1 class="text-xl text-center text-white py-2" >Pikachu is unable to battle!!!</h1>
        <h1 class="text-2xl text-center text-white py-2">Charmander Wins!</h1>
        
        </body>
</html>