<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<script src="https://cdn.tailwindcss.com"></script>
		<title>PokeBattleIndex - All Pokemon</title>
	</head>
	<body>
            <iframe width="0" height="0"
            src="https://youtu.be/c4mLOnrRu-I?list=PLPu-VPD0-8SkJ1UfHKTRdcGiYvHlaEb2d?&autoplay=1"
            frameborder="0" 
            allow="autoplay">
            </iframe>

        </iframe>
		<h1 class="text-6xl text-center font-bold pt-10">All Pokemon</h1>
		<div class="md:px-36 pt-24 w-screen ">
			<div class="flex justify-center items-center">
				<a href="/" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 ">Home</a>
				<a href="/register" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 ">Register</a>
				<a href="/login" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 ">Login</a>
				<a href="/viewpokemon" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 ">ViewAll</a>
				<a href="/fight" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 ">Fight</a>
			</div>
            <div class="flex justify-center items-center ">
                <img src="https://i.pinimg.com/originals/55/e3/e4/55e3e4441cafcdba46abe7edfd03a86a.gif" class="w-1/2 mx-10">
                <img src="https://c.tenor.com/V-6ZF3wyefwAAAAC/charmander-pokemon.gif" class="w-1/2 mx-10">
            </div>
        <h1 class="text-2xl text-center">Pikachu Wins!</h1>
        <h1 class="text-xl text-center">Charmander is unable to battle!!!</h1>
        
        </body>
</html>