<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<script src="https://cdn.tailwindcss.com"></script>
		<title>PokeBattleIndex - All Pokemon</title>
	</head>
	<body class="bg-slate-800">
		<nav class="fixed z-10 bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-60 px-10 sm:px-4 py-2.5 w-full">
			<div class="container flex flex-wrap justify-between items-center mx-auto md:px-36">
				<div class="flex items-center">
					<a href="/" class="text-lg font-semibold text-gray-900">
						<img src="https://seeklogo.com/images/P/Pokemon-logo-497D61B223-seeklogo.com.png" alt="Pokemon Go logo" class="w-24">
					</a>
					<h1 class="px-10 text-2xl font-extrabold text-transparent bg-clip-text ">PokeBattleIndex</h1>
				</div>
				<div class="flex  items-center">
					<a href="/" class="py-2.5 px-5 mr-2  text-sm font-medium text-white focus:outline-none  rounded-lg   hover:text-blue-400 focus:z-10 focus:ring-4 focus:ring-gray-200 ">Home</a>
					<a href="/viewpokemon" class="py-2.5 px-5 mr-2  text-sm font-medium text-white focus:outline-none  rounded-lg   hover:text-blue-400 focus:z-10 focus:ring-4 focus:ring-gray-200 ">ViewAll</a>
					<a href="/fight" class="py-2.5 px-5 mr-2 text-sm font-medium text-white focus:outline-none  rounded-lg   hover:text-blue-400 focus:z-10 focus:ring-4 focus:ring-gray-200 ">Fight</a>
					<a href="/leaderboard" class="py-2.5 px-5 mr-2 text-sm font-medium text-white focus:outline-none  rounded-lg   hover:text-blue-400 focus:z-10 focus:ring-4 focus:ring-gray-200 ">Leaderboard</a>
					<a href="/settings" class="py-2.5 px-5 mr-2 text-sm font-medium text-white focus:outline-none  rounded-lg   hover:text-blue-400 focus:z-10 focus:ring-4 focus:ring-gray-200 ">Settings</a>
					<a href="/signout" class="py-2.5 px-5 mr-2 text-sm font-medium text-white focus:outline-none  rounded-lg   hover:text-blue-400 focus:z-10 focus:ring-4 focus:ring-gray-200 ">Signout</a>
				</div>
			</div>
		</nav>
		<h1 class="text-white text-6xl text-center font-bold pt-24">All Pokemon</h1>
		<div class="md:px-28 pt-24 w-screen ">
			
			<div class="grid justify-items-center md:grid-cols-2 lg:grid-cols-3 gap-12">
				<div class="p-5 bg-gray-400 rounded-lg border border-gray-200 shadow-md w-full transform transition duration-100 hover:scale-110" th:each="p : ${allpokemon}">
					<!-- Display id of the pokemon -->
					<div class="flex px-5 pt-2">
						<h1 class="text-3xl font-bold text-gray-700"><span th:text="${p.num}"></span></h1>
					</div>
					<a href="#" class="flex items-center justify-center">
						<img class="rounded-t-lg w-56" th:src="${p.img}" alt="${p.name}" />
					</a>
					<div class="pb-5">
						<a th:href="${'/pokemon?name='+ p.name}">
							<h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900" th:text="${p.name}"></h5>
						</a>
						<!-- Display Pokemon Type in array -->
						<div class="flex justify-center items-center" >
							<div th:each="type:${p.type}">
								<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2" th:text="${type}"></span>
							</div>	
						</div>
						<!-- Display Pokemon Height and Weight -->
						<!-- <div class="grid md:grid-cols-2">
							<span class="text-center text-gray-700 dark:text-white" >
								Height : <span th:text="${p.height}"></span> 
							</span>
							<span class="text-center text-gray-700 dark:text-white">
								Weight : <span th:text="${p.weight}"></span>
							</span>
						</div> -->

					</div>
				</div>

			</div>
			
			
		</div>
		
</body>
