<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<script src="https://cdn.tailwindcss.com"></script>
		<title>PokeBattleIndex - All Pokemon</title>
	</head>
	<body>
		<h1 class="text-6xl text-center font-bold pt-10">All Pokemon</h1>
		<div class="md:px-36 pt-24 w-screen">
			<!-- <table class="table-auto w-fit" border="1" cellpadding="10">
				<thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
					<tr >
						<th class="p-5 whitespace-nowrap font-semibold text-left">Num</th>
						<th class="p-5 whitespace-nowrap font-semibold text-left">Name</th>
						<th class="p-5 whitespace-nowrap font-semibold text-left">Height</th>
						<th class="p-5 whitespace-nowrap font-semibold text-left">Weight</th>
					</tr>
				</thead>
				<tbody class="text-lg divide-y divide-gray-100">
					<tr th:each="p : ${allpokemon}">
						<td class="p-5 whitespace-nowrap font-medium text-left" th:text="${p.num}"></td>
						<td class="p-5 whitespace-nowrap font-medium text-left" th:text="${p.name}"></td>
						<td class="p-5 whitespace-nowrap font-medium text-left" th:text="${p.height}"></td>
						<td class="p-5 whitespace-nowrap font-medium text-left" th:text="${p.weight}"></td>
					</tr>
				</tbody>
			</table> -->
			<div class="grid justify-items-center md:grid-cols-2 lg:grid-cols-3 gap-12">
				<div class="p-5 bg-white rounded-lg border border-gray-200 shadow-md w-full transform transition duration-100 hover:scale-110" th:each="p : ${allpokemon}">
					<!-- Display id of the pokemon -->
					<div class="flex px-5 pt-2">
						<h1 class="text-3xl font-bold text-gray-500"><span th:text="${p.num}"></span></h1>
					</div>
					<a href="#" class="flex items-center justify-center">
						<img class="rounded-t-lg w-56" th:src="${p.img}" alt="${p.name}" />
					</a>
					<div class="pb-5">
						<a href="#">
							<h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900" th:text="${p.name}"></h5>
						</a>
						<!-- Display Pokemon Type in array -->
						<div class="flex justify-center items-center" >
							<div th:each="type:${p.type}">
								<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2" th:text="${type}"></span>
							</div>	
						</div>
						<!-- Display Pokemon Height and Weight -->
						<!-- <div class="grid md:grid-cols-2">
							<span class="text-center text-gray-700 dark:text-white" >
								Height : <span th:text="${p.height}"></span> 
							</span>
							<span class="text-center text-gray-700 dark:text-white">
								Weight : <span th:text="${p.weight}"></span>
							</span>
						</div> -->

					</div>
				</div>

			</div>
			
			
		</div>
		<div class="flex justify-center pt-10">
			<a href="viewsongs"class="mx-5 w-fit text-white bg-cyan-500 hover:bg-cyan-700  rounded-lg px-3 py-1" value="Submit" /> 
			View songs
			</a>
			<a href="addsong"class=" mx-5 w-fit text-white bg-green-500 hover:bg-green-700  rounded-lg px-3 py-1" value="Submit" /> 
				Add songs
			</a>
			<a href="editsong"class="mx-5 w-fit text-white bg-amber-500 hover:bg-amber-700  rounded-lg px-3 py-1" value="Submit" /> 
				Edit songs
			</a>
			<a href="deletesong"class="mx-5 w-fit text-white bg-red-500 hover:bg-red-700  rounded-lg px-3 py-1" value="Submit" /> 
				Delete songs
			</a>
		</div>
		
</body>
